extends ./layout/layout.pug

block content
    .container.news-content 
        .row
            .col-12.col-lg-8.col-xl-9.mt-3.pe-lg-0
                .news-detail.category-page.p-3
                    nav.breadcrumb-nav(aria-label="breadcrumb").mb-2
                        ol.breadcrumb
                            li.breadcrumb-item: a(href="./") Anasayfa
                            li.breadcrumb-item.active: a(href="./category.html") Gündem

                    hr.mt-1.mb-3
                    h1.news-title.ps-1.ps-sm-2 Gündem

                    .row
                        .col-12
                            .row
                                .col-12.col-md-8
                                    .swiper.slider-category-home.mt-3
                                        .swiper-wrapper
                                            .swiper-slide.news-block
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/25/cemevlerine-yonelik-duzen-598_2-41.jpg" alt="Macaristan Dışişleri Bakanı Szijarto: Avrupa'nın güvenliği Türkiye'nin elinde")
                                                    span.news-block-title.w-100: h4.m-3 Cemevlerine yönelik düzenleme Komisyon'dan geçti
                                            .swiper-slide.news-block
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/24/madenci-yakinlari-icin-na-474_2-41.jpg" alt="ABD'ye net mesaj: Türkiye'nin hassasiyetlerini çok açık bir şekilde anlamalılar")
                                                    span.news-block-title.w-100: h4.m-3 Madenci yakınları için nakdi destek ve iş imkanı torba kanun teklifine eklendi
                                            .swiper-slide.news-block
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/24/izmirde-155-duzensiz-gocm-172_2-42.jpg" alt="Macaristan Dışişleri Bakanı Szijarto: Avrupa'nın güvenliği Türkiye'nin elinde")
                                                    span.news-block-title.w-100: h4.m-3 İzmir'de 155 düzensiz göçmen yakalandı
                                            .swiper-slide.news-block
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/24/hakkaride-iki-bolge-ozel--910_2-41.jpg" alt="ABD'ye net mesaj: Türkiye'nin hassasiyetlerini çok açık bir şekilde anlamalılar")
                                                    span.news-block-title.w-100: h4.m-3 Hakkari'de iki bölge "özel güvenlik bölgesi" ilan edildi
                                            .swiper-slide.news-block
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/24/baskan-erdogan-yusuf-isla-920_2-42.jpg" alt="Macaristan Dışişleri Bakanı Szijarto: Avrupa'nın güvenliği Türkiye'nin elinde")
                                                    span.news-block-title.w-100: h4.m-3 Başkan Erdoğan, Yusuf İslam'ın konserini izledi
                                            .swiper-slide.news-block
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/24/bakan-nebati-6nci-gelecek-139_2-41.jpg" alt="ABD'ye net mesaj: Türkiye'nin hassasiyetlerini çok açık bir şekilde anlamalılar")
                                                    span.news-block-title.w-100: h4.m-3 Bakan Nebati, 6'ncı Gelecek Yatırım Girişimi Konferansı için Riyad'a gidecek


                                        .swiper-pagination
                                        i.icon.icon-chevron-compact-left
                                        i.icon.icon-chevron-compact-right
                                .col-12.col-md-4.slider-near
                                    .row
                                        .col-6.col-md-12
                                            .news-block.mt-3
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/23/ak-partili-goksu-iett-oto-580_2-41.jpg" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                                    span.news-block-title.always-half.w-100: h5.m-2 AK Partili Göksu İETT otobüslerindeki artan arızalara tepki gösterdi: "Ah İstanbul ah"
                                        .w-100.d-none.d-md-block
                                        .col-6.col-md-12
                                            .news-block.mt-3
                                                a(href="./detail.html")
                                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/23/adim-adim-togga-dogru-ger-223_2-41.jpg" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                                    span.news-block-title.always-half.w-100: h5.m-2 Adım adım TOGG'a doğru... Geri sayım başladı
                        each val in [{0:"https://cdn.gunes.com/Documents/Gunes/images/2022/10/23/turk-savunma-sanayisini-t-155_2-43.jpg",1:"Türk savunma sanayisini takibe aldılar: Silah satın almamıza rağmen Türkiye'nin gerisindeyiz",2:"AKINCI, Bayraktar TB2 SİHA, TCG Anadolu, Tayfun füzesi, Atak Helikopteri gibi birçok yerli silahımızı takibe alan Yunan basını, Türk savunma sanayisinin hızlı gelişmesinin kendileri için sorun olduğundan bahsetti."},{0:"https://cdn.gunes.com/Documents/Gunes/images/2022/10/23/suriyede-teror-orgutune-n-616_2-41.jpg",1:"Suriye'de terör örgütüne nokta operasyon... El-Bab'da yakalanan 9 DEAŞ'lı terörist tutuklandı",2:"İçişleri Bakanlığı, Suriye El-Bab bölgesinde 22 Ekim'de düzenlenen operasyonda 9 DEAŞ'lı teröristin yakalandığını duyurdu."},{0:"https://cdn.gunes.com/Documents/Gunes/images/2022/10/22/bakan-cavusoglu-eger-biz--749_2-41.jpg",1:"Bakan Çavuşoğlu: Eğer biz olmasaydık Libya bugün bir Suriye olurdu",2:"Dışişleri Bakanı Mevlüt Çavuşoğlu, “Eğer biz olmasaydık Libya bugün bir Suriye olurdu. Eğer Trablus'ta yapılan saldırıyı biz püskürtmeseydik olurdu. Ama bugün Libya'yla deniz yetki alanları anlaşması imzalıyoruz. En son hidrokarbon anlaşması imzaladık. Bundan rahatsız olanlar da var” dedi."},{0:"https://cdn.gunes.com/Documents/Gunes/images/2022/10/23/turk-savunma-sanayisini-t-155_2-43.jpg",1:"Türk savunma sanayisini takibe aldılar: Silah satın almamıza rağmen Türkiye'nin gerisindeyiz",2:"AKINCI, Bayraktar TB2 SİHA, TCG Anadolu, Tayfun füzesi, Atak Helikopteri gibi birçok yerli silahımızı takibe alan Yunan basını, Türk savunma sanayisinin hızlı gelişmesinin kendileri için sorun olduğundan bahsetti."}]
                            .col-12 
                                hr.my-2.my-md-3
                                a(href="detail.html"): .category-news-card.d-flex.flex-row
                                    .col-4.d-flex.align-items-center
                                        .wrap-img
                                            img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=val[0] alt="Kur Korumalı TL Vadeli Mevduat Hesabı")
                                    .col-8.d-flex.align-items-center
                                        .d-flex.flex-column.p-2.p-md-3
                                            .d-flex.align-items-center.justify-content-between.pb-2
                                                span.group-tag Gündem
                                                time.fs-14(datetime="26-10-2022") 26 Ekim 2022
                                            h6= val[1]
                                            p.category-news-descp.d-none.d-md-inline= val[2]

                    .row
                        .col-6.col-md-4.order-0
                            .news-block.mt-3
                                a(href="./detail.html")
                                    .wrap-img.wrap-img-full: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./assets/img/_delete/card-image8.jpg" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Türkiye Kupasın’da 5.Tur Kuraları Çekildi Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi
                        .col-12.col-md-4.order-3
                            .row
                                .col-6.col-md-12
                                    .news-block.mt-3
                                        a(href="./detail.html")
                                            .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./assets/img/_delete/card-image4.jpg" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                            span.news-block-title.always-half.w-100: h5.m-3 Türkiye Kupasın’da 5.Tur Kuraları Çekildi Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi
                                .w-100.d-none.d-md-block
                                .col-6.col-md-12
                                    .news-block.mt-3
                                        a(href="./detail.html")
                                            .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/25/bahceliden-kilicdarogluna-861_2-41.jpg" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                            span.news-block-title.always-half.w-100: h5.m-3 Türkiye Kupasın’da 5.Tur Kuraları Çekildi Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi
                        .col-6.col-md-4.order-2.order-md-3
                            .news-block.mt-3
                                a(href="./detail.html")
                                    .wrap-img.wrap-img-full: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/25/bakan-akar-son-derece-alc-231_2-41.jpg" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Türkiye Kupasın’da 5.Tur Kuraları Çekildi Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi

                    each val in [{0:"https://cdn.gunes.com/Documents/Gunes/images/2022/10/22/bakan-cavusoglu-eger-biz--749_2-41.jpg",1:"Bakan Çavuşoğlu: Eğer biz olmasaydık Libya bugün bir Suriye olurdu",2:"Dışişleri Bakanı Mevlüt Çavuşoğlu, “Eğer biz olmasaydık Libya bugün bir Suriye olurdu. Eğer Trablus'ta yapılan saldırıyı biz püskürtmeseydik olurdu. Ama bugün Libya'yla deniz yetki alanları anlaşması imzalıyoruz. En son hidrokarbon anlaşması imzaladık. Bundan rahatsız olanlar da var” dedi."},{0:"https://cdn.gunes.com/Documents/Gunes/images/2022/10/23/turk-savunma-sanayisini-t-155_2-43.jpg",1:"Türk savunma sanayisini takibe aldılar: Silah satın almamıza rağmen Türkiye'nin gerisindeyiz",2:"AKINCI, Bayraktar TB2 SİHA, TCG Anadolu, Tayfun füzesi, Atak Helikopteri gibi birçok yerli silahımızı takibe alan Yunan basını, Türk savunma sanayisinin hızlı gelişmesinin kendileri için sorun olduğundan bahsetti."}]
                        .col-12 
                            hr.my-2.my-md-3
                            a(href="detail.html"): .category-news-card.d-flex.flex-row
                                .col-4.d-flex.align-items-center
                                    .wrap-img
                                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=val[0] alt="Kur Korumalı TL Vadeli Mevduat Hesabı")
                                .col-8.d-flex.align-items-center
                                    .d-flex.flex-column.p-2.p-md-3
                                        .d-flex.align-items-center.justify-content-between.pb-2
                                            span.group-tag Gündem
                                            time.fs-14(datetime="26-10-2022") 26 Ekim 2022
                                        h6= val[1]
                                        p.category-news-descp.d-none.d-md-inline= val[2]

            .col-4.col-xl-3.d-none.d-lg-block
                .news-side-wrapper
                    .news-side
                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://assets.turkmedya.com.tr/test/img/320x200eylul.jpg" alt="Kur Korumalı TL Vadeli Mevduat Hesabı")
                            span: h6.m-3.mb-2 Kur Korumalı TL Vadeli Mevduat Hesabı

                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/11/dort-buyuklerin-sadece-fu-807_2-41.jpg" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                            span: h6.m-3.mb-2 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/07/fenerbahce-uefa-kazancini-420_2-41.jpg" alt="Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı")
                            span: h6.m-3.mb-2 Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı

                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/11/dort-buyuklerin-sadece-fu-807_2-41.jpg" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                            span: h6.m-3.mb-2 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.gunes.com/Documents/Gunes/images/2022/10/07/fenerbahce-uefa-kazancini-420_2-41.jpg" alt="Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı")
                            span: h6.m-3.mb-2 Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı
